.invisible {
  visibility: hidden !important;
}

.button_strength {
  display: none;
}

.password-field-wrapper {
  position: relative;
}

.confirm-password-field-wrapper {
  margin-top: 15px;
}

.strength_meter {
  width: 200px;
  height: 5px;
  border-radius: 5px;
  padding-right: 13px;
  position: relative;
  top: 20px;
  left: 200px;
  overflow: visible;
  margin-bottom: -5px;
  top: 17px;
  div {
    height: 5px;
    text-align: right;
    color: #000;
    /* line-height: 43px; */
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-right: 12px;
    border-radius: 5px;

    position: absolute;
    top: -40px;
    left: 0;
    p {
      //position: absolute;
      top: -14px;
      left: 0px;
      font-size: 13px;
      padding-top: 5px;
      white-space: nowrap;
      text-align: left;
    }
  }
}

.button_strength {
  text-decoration: none;
  color: #FFF;
  font-size: 13px;
}

.veryweak {
  background-color: #FFA0A0;
  border-color: #F04040 !important;
  width: 25% !important;
}

.weak {
  background-color: #FFB78C;
  border-color: #FF853C !important;
  width: 50% !important;
}

.medium {
  background-color: #FFEC8B;
  border-color: #FC0 !important;
  width: 75% !important;
}

.strong {
  background-color: #C3FF88;
  border-color: #8DFF1C !important;
  width: 100% !important;
}
