// input border colour
$input-border: #e2e2e2;
$input-bg-colour: #f9f9f9;

$login-green: #00692f;
$primary-green: #00823B;

$beta-colour: #f47738;

$info-bg-color: #ddeeff;
$info-border-color: #005EA4;

$error-bg-color: #fff;
$error-border-color: #df3034;
$error-color: #af1324;

$success-bg-color: #e9f5f4;
$success-border-color: #28a197;
$success-color: #28a197;

$alert-bg-red: #b10e1e;

$attorney-yellow: #FFBF47;
$attorney-grey: #0B0C0C;

$shaded-bg-grey: #f8f8f8;

$black: #000;

$alert-failure-bg: #fbede9;

$light-grey: #bfc1c3;
$white: #fff;
$text-colour: $black;

$brand-primary: #008770;
$brand-primary-hover: #26b9a0;
$brand-secondary: #000;
$brand-tertiary: #2e8aca;

/*******************
Links*/

$primarynav-link-inactive: #6f777b;
$primarynav-link-inactive-bg: #dee0e2;
$primarynav-link-inactive-bg-hover: #dee0e2;

$primarynav-link-active: #ffffff;
$primarynav-link-active-bg: #6f777b;
$primarynav-link-active-bg-hover: #6f777b;

$primarynav-link-hover: #6f777b;
$primarynav-link-hover-bg-hover: #6f777b;

$link-colour: $brand-primary;

$navbar-default-bg: #000;

$navbar-border-radius: 0px;
$navbar-default-brand-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: #fff;

$dropdown-header-color: #fff;

$state-info-text: #fff;
$state-info-bg: $brand-primary;

$success-border-color: #28a197;
$error-border-color: #af1324;
$error-color: #af1324;

$light-grey: #e9ebee;
$light-border: 1px solid $light-grey;
$heavy-border: 1px solid #ccc;
$dt-colour: #333;
$dd-colour: #90949c;